
#wrapper {
    color: aliceblue;
    font-family: 'Lato light', sans-serif;
}

#nav{
    overflow: hidden;
    background-color: #ddd;
    font-family: 'Lato light', sans-serif;
    padding: 20px;
    text-align: center;
    
}

#nav a {
    color:black;
    padding: 10px;

}